body {
  background-color: #0b0b0b;
  color: #eaeaea;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
}

/* BRAND */
.brand {
  text-align: center;
  color: #c9a24d;
  font-size: 42px;
  letter-spacing: 4px;
  margin: 40px 0;
}

/* PRODUK */
.product {
  text-align: center;
  cursor: pointer;
}

.product img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.product h3 {
  margin-top: 10px;
  font-size: 22px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
}

.modal-content {
  background: #111;
  max-width: 420px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

.detail-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.desc {
  margin-top: 10px;
}

.price {
  color: #c9a24d;
  font-size: 18px;
  margin: 10px 0;
}

/* TESTIMONI */
.testimoni {
  margin-top: 10px;
}

.testimoni img {
  width: 70px;
  margin: 5px;
  border-radius: 6px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #c9a24d;
  color: black;
  text-decoration: none;
  margin-top: 15px;
}

/* CLOSE */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 28px;
  cursor: pointer;
}